.introimage{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(9, 58, 104, 0.5), rgba(214, 195, 18, 0.5)), url(https://live.staticflickr.com/1697/24544239982_500d2dfa2f_k.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.socialmedia{
position: absolute;
transform: translate(-50%, 50%);
margin: 0;
padding:0;
display: flex;
top: 40%;
left: 50%;

}
.socialmedia li{
    list-style: none;
    

}
.socialmedia a{
    display: block;
    text-decoration: none;
    color: $lighttxt;
    position: relative;
    width: 50px;
    height: 50px;
    text-align: center;
    background: $darkbg;
    line-height: 50px;
    font-size: 2em;
    margin: 0 10px;
    
}
.socialmedia a:hover{
    background-color: white;
    color: $darkbg;
}