.resume{
    margin-top: 2em;
    margin-bottom: 2em;
}
.resumtop{
    background-color: $darkgray;
    color: $lighttxt;
    padding: 2em;
    text-align: center;
}
.resumtop h1{
    font-size: 4em;
}
.resumbody{
    padding: 2em; 
    color: $darktxt;
    background-color: $lightgray;

}
.resumbody a{
    text-decoration: none;
    color: inherit;
}
.resumbody h4{
    color: $darkbg;
}
.resumbody li{
    list-style: none;
}