$darkbg: #3d5a80;
$lightbg: #e2e2df;
$lighttxt: #f0efeb;
$mediumtxt: #8d99ae;
$darktxt: #5e6f85;

$lightyellow: #fff1e6;
$lightblue: #bcd4e6;
$mediumblue: #cddafd;
$lightmint: #dbe7e4;
$mediummint: #bee1e6;
$lightpink: #fde2e4;
$mediumpink: #fad2e1;
$lightgray: #cfd8d7;
$darkgray: #495867;

